.teamer(data-id, role="menu")
    img.teamer__avatar(src="images/avatar.jpg", alt="Avatar")
    p.teamer__name Name
    p.teamer__salary $1800
    button.button.button_remove.teamer__remove(type="button", role="menuitem") -
