@import "../../helpers/*";

.info {
    @mixin clear;
    margin: 20px;
    padding: 0 0 34px;
    &__links {
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-size: 0;
        }
    &__link {
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
        color: $purple;
        margin: 0 20px 0 0;
        }
    &__header {
        float: right;
        }
    &__time {
        font-size: 22px;
        line-height: 26px;
        margin: 2px 0 10px;
        }
    &__event {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 16px;
        display: block;
        text-align: right;
        margin: 10px 0 0;
        }
    &__message {
        font-size: 14px;
        line-height: 26px;
        margin: -5px 0 15px;
        b {
            font-weight: bold;
            }
        }
    &__teams {
        width: 330px;
        @mixin clear;
        }
    &__team {
        width: 90px;
        margin: 0 20px 20px 0;
        padding: 0 0 2px;
        float: left;
        border-bottom: 1px solid $table-border-color;
        text-decoration: none;

        font-size: 14px;
        line-height: 16px;
        font-weight: bold;

        color: $purple;
        &_time {
            color: $table-border-color;
            font-size: 12px;
            line-height: 14px;
            font-weight: normal;
            }
        }
    }

@media (max-width: 800px) {
    html body {
        .info {
            &__teams {
                width: auto;
                }
            &__event {
                text-align: left;
                }
            &__header {
                float: none;
                margin: 0 0 10px;
                }
            }
        }
    }
