ul.bets
    li.bets__column
        .bets__bet.bets__bet_priority_low 
            p.bets__message Jonnas1992 will die on the 42th minute of the match
        .bets__bet.bets__bet_priority_normal
            p.bets__message This match will end between 1:30 and 1:42 am
    li.bets__column
        .bets__bet.bets__bet_priority_middle
            p.bets__message Soultakers gonna win the tournament with advantage less than 5 points
        .bets__bet.bets__bet_priority_hight
            p.bets__message This match will end between 1:30 and 1:42 am
    li.bets__column
        .bets__bet.bets__bet_priority_hight
            p.bets__message This match will end between 1:30 and 1:42 am
        .bets__bet.bets__bet_complete
            p.bets__message Jonnas1992 will die on the 42th minute of the match
    li.bets__column
        .bets__bet.bets__bet_priority_middle
            p.bets__message It will be the dead heat at the and of a game
        .bets__bet.bets__bet_priority_low 
            p.bets__message MichaelCK is going to overweight AtomicWeight in 5 points
    li.bets__column
        .bets__bet.bets__bet_priority_hight
            p.bets__message Jonnas1992 will die on the 42th minute of the match
        .bets__bet.bets__bet_priority_normal
            p.bets__message Soultakers gonna win the tournament with advantage less than 5 points
