extends ../elements/layout/layout.jade

block title
    title Account | Fantasy Ninja

block content
    header.content__header
        h1.content__title About

    include ../elements/text/text.jade

block footer
    +footer('about')
