extends ../elements/layout/layout.jade

block title
    title Add Funds | Fantasy Ninja

block navigation
    +navigation('balance')

block content
    header.content__header
        h1.content__title Add Funds

    include ../elements/balance/balance.jade
