extends ../elements/layout/layout.jade

block title
    title Active Fantasy Leagues | Fantasy Ninja

block navigation
    +navigation('leagues')

block content
    header.content__header
        h1.content__title Active Fantasy Leagues

    table.content__table
        thead
            tr
                th Contest
                th
                th Entries
                th Prizes
                th Starts
                th
        tbody
            - var i = 10;
            while i > 0
                - i--
                tr
                    td(data-th="Contest")
                        a.content__table-link(href="#") 
                            img.content__table-icon(src="images/Dota2Logo.svg", alt="Иконка")
                            span $1M+ in Prizes for Dota2 International Finals 
                    td 
                        +entries('M')
                    td(data-th="Entries")
                        strong 20 
                        | / 789123567
                    td(data-th="Prizes") $100000
                    td(data-th="Starts")
                        time(datetime="2015-09-13T11:00Z") 9/13 11:00AM
                    td
                        button.button(type="button", data-action="open popup") FREE
