extends ../elements/layout/layout.jade

block title
    title Live | Fantasy Ninja

block navigation
    +navigation('live')

block content
    header.content__header
        h1.content__title Live

    table.content__table
        thead
            tr
                th Contest
                th
                th Score
                th Rank
                th Win
                th Prizes
                th Fee
                th
        tbody
            tr
                td(data-th="Contest")
                    a.content__table-link(href="#") 
                        img.content__table-icon(src="images/Dota2Logo.svg", alt="Иконка")
                        span $1M+ in Prizes for Dota2 International Finals 
                td 
                    +entries('M')
                td(data-th="Score") 168.79
                td(data-th="Rank") 1759
                td(data-th="Win") 
                    strong $1500
                td(data-th="Prizes") $100000
                td(data-th="Fee") $1999
                td
                    button.button(type="button", data-action="open popup") Details
