extends ../elements/layout/layout.jade

block title
    title Active Fantasy Leagues | Fantasy Ninja

block navigation
    +navigation('transactions')

block content
    header.content__header
        h1.content__title Transactions

    table.content__table
        thead
            tr
                th Contest
                th Date
                th Transaction ID
                th Debit
                th Credit
        tbody
            - var i = 10;
            while i > 0
                - i--
                tr
                    td 
                        a.content__table-link(href="#") 
                            img.content__table-icon(src="images/Dota2Logo.svg", alt="Иконка")
                            | $1M+ in Prizes for Dota2 International Finals 
                    td 
                        time(datetime="2015-09-13T11:00Z") 9/13 11:00AM
                    td 112233445566
                    td $100000
                    td
                tr
                    td 
                        a.content__table-link(href="#") 
                            img.content__table-icon(src="images/Dota2Logo.svg", alt="Иконка")
                            | $1M+ in Prizes for Dota2 International Finals 
                    td 
                        time(datetime="2015-09-13T11:00Z") 9/13 11:00AM
                    td 112233445566
                    td 
                    td $100000
