extends ../elements/layout/layout.jade

block title
    title Active Fantasy Leagues | Fantasy Ninja

block navigation
    +navigation('transactions')

block content
    header.content__header
        h1.content__title Transactions

    table.content__table
        thead
            tr
                th Contest
                th Date
                th Transaction ID
                th Debit
                th Credit
        tbody
            - var i = 10;
            while i > 0
                - i--
                tr
                    td(data-th="Contest")
                        a.content__table-link(href="#") 
                            img.content__table-icon(src="images/Dota2Logo.svg", alt="Date")
                            span $1M+ in Prizes for Dota2 International Finals 
                    td(data-th="Score")
                        time(datetime="2015-09-13T11:00Z") 9/13 11:00AM
                    td(data-th="Transaction ID") 112233445566
                    td(data-th="Debit") $100000
                    td(data-th="Credit")
                tr
                    td(data-th="Contest")
                        a.content__table-link(href="#") 
                            img.content__table-icon(src="images/Dota2Logo.svg", alt="Иконка")
                            span $1M+ in Prizes for Dota2 International Finals 
                    td(data-th="Date")
                        time(datetime="2015-09-13T11:00Z") 9/13 11:00AM
                    td(data-th="Transaction ID") 112233445566
                    td(data-th="Debit") 
                    td(data-th="Credit") $100000
