extends ../elements/layout/layout.jade

block title
    title Upcoming Leagues | Fantasy Ninja

block navigation
    +navigation('upcoming')

block content
    header.content__header
        h1.content__title Upcoming Leagues

    table.content__table
        thead
            tr
                th Contest
                th
                th Entries
                th Prizes
                th Starts
                th Fee
                th
        tbody
            tr
                td(data-th="Contest")
                    a.content__table-link(href="#") 
                        img.content__table-icon(src="images/Dota2Logo.svg", alt="Иконка")
                        span $1M+ in Prizes for Dota2 International Finals 
                td 
                    +entries('M')
                td(data-th="Entries")
                    strong 20 
                    | / 789123567
                td(data-th="Prizes") $100000
                td(data-th="Starts")
                    time(datetime="2015-09-13T11:00Z") 2h 10m
                td(data-th="Fee") $1999
                td
                    a.button(href="edit.html", role="link") Edit
