<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block title
            title Fantasy Ninja

        script(src="js/modernizr.js")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="js/pikaday/css/pikaday.css")
    body
        section.page
            include ../entries/entries.jade
            include ../navigation/navigation.jade
            block navigation

            section.content(role = 'main')
                block content

            include ../footer/footer.jade

        script(src="js/moment/min/moment-with-locales.min.js")
        script(src="js/pikaday/pikaday.js")
        script(src="js/scripts.js", async, defer)
