<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block title
            title Fantasy Ninja

        script(src="js/modernizr.js")
        script(src="js/classList.js/classList.min.js")
        script(src="js/es5-shim/es5-shim.min.js")
        script(src="js/es5-shim/es5-sham.min.js")
        script(src="js/promise-polyfill/Promise.min.js")
        script(src="js/isie.js")

        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="js/pikaday/css/pikaday.css")
    body
        section.page
            include ../entries/entries.jade
            include ../navigation/navigation.jade
            block navigation
                +navigation
            section.content(role = 'main')
                block content
            include ../footer/footer.jade
            block footer
                +footer
        include ../popup/popup.jade

        script(src="js/velocity/velocity.js")
        script(src="js/moment/min/moment-with-locales.min.js")
        script(src="js/pikaday/pikaday.js")
        script(src="js/scripts.js", async, defer)
