ul.questions
    li.questions__item
        h2.questions__question Am I able to bet on games if I'm not an adult?
        p.questions__answer Sure we're open to adding new games. You may 
            a(href="#") submit your game 
            | to us and we will think what we can do about it.

    li.questions__item
        h2.questions__question You don't support my favourite game. Any chance to find it here anytime soon?
        p.questions__answer Sure we're open to adding new games. You may 
            a(href="#") submit your game 
            | to us and we will think what we can do about it.

    li.questions__item.questions__item_open
        h2.questions__question Do you support instant bank money transfers?
        p.questions__answer Sure we're open to adding new games. You may 
            a(href="#") submit your game 
            | to us and we will think what we can do about it.

    li.questions__item
        h2.questions__question How can I spend bonuses received for inviting friends?
        p.questions__answer Sure we're open to adding new games. You may 
            a(href="#") submit your game 
            | to us and we will think what we can do about it.

    li.questions__item
        h2.questions__question How can you garantee me that I will receive my prize?
        p.questions__answer Sure we're open to adding new games. You may 
            a(href="#") submit your game 
            | to us and we will think what we can do about it.
