$black: #000;
$white: #fff;


$black-light: #181920;

$grey-dark: #666576;
$grey-darker: #32313E;
$grey-blue: #454D64;
$table-border-color: #556276;

$purple: #754FBA;

$blue: #1d283c;
$dark-blue: #152135;
$glow: #344D76;
$cyan: #B0BDD1;
$text-blue: #385480;
$cyan-dark: #384d70;
