mixin navigation(page)
    nav.navigation(role="navigation")
        a(href="/")
            h1.navigation__logotype Fantasy Ninja

        button.navigation__toggle(type="button")

        .navigation__wrapper
            section.navigation__section
                h2.navigation__title BROWSE
                a.navigation__link(href="leagues.html", role="link", class= (page=='leagues') ? 'navigation__link_current':'')
                    img.navigation__icon(src="images/dummy-icon.svg", alt="icon")
                    | Leagues
                a.navigation__link(href="upcoming.html", role="link", class= (page=='upcoming') ? 'navigation__link_current':'')
                    img.navigation__icon(src="images/dummy-icon.svg", alt="icon")
                    | Upcoming
                a.navigation__link(href="live.html", role="link", class= (page=='live') ? 'navigation__link_current':'')
                    img.navigation__icon(src="images/dummy-icon.svg", alt="icon")
                    | Live
                a.navigation__link(href="results.html", role="link", class= (page=='results') ? 'navigation__link_current':'')
                    img.navigation__icon(src="images/dummy-icon.svg", alt="icon")
                    | Results
            section.navigation__section.navigation__section_user
                h2.navigation__title.navigation__title_menu UserNaMeVeryLong123
                    a.navigation__logout(href="/logout", role="link") Logout
                a.navigation__link(href="balance.html", role="link", class= (page=='balance') ? 'navigation__link_current':'')
                    img.navigation__icon(src="images/dummy-icon.svg", alt="icon")
                    | Balance | $999.77
                a.navigation__link(href="account.html", role="link", class= (page=='account') ? 'navigation__link_current':'')
                    img.navigation__icon(src="images/dummy-icon.svg", alt="icon")
                    | Account
                a.navigation__link(href="transactions.html", role="link", class= (page=='transactions') ? 'navigation__link_current':'')
                    img.navigation__icon(src="images/dummy-icon.svg", alt="icon")
                    | Transactions
