@import "../../helpers/colors.css";

.navigation {

    position: relative;
    left: 100%;
    float: left;
    margin-left: -100%;

    min-height: 100%;
    min-height: 100vh;
    width: 240px;
    background: $black-light;
    z-index: 5;
    padding: 82px 0 94px;
    box-sizing: border-box;

    font-size: 12px;
    line-height: 14px;
    color: $grey-dark;

    &__toggle {
        display: none;
        }

    &__logotype {
        width: 52px;
        height: 54px;
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        background: url(../images/logotype.svg) 50% 0 no-repeat;
        overflow: hidden;
        text-indent: -999px;
        font-size: 0;
        }

    &__section {
        border-bottom: 1px solid $grey-darker;
        padding: 0 0 10px;
        &:last-child {
            border-bottom-style: none;
            }
        }

    &__title {
        padding: 0 20px;
        position: relative;
        line-height: 30px;
        height: 30px;
        font-size: 11px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &_menu {
            line-height: 44px;
            height: 44px;
            padding: 0 44px 0 20px;
            }
        }

    &__logout {
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        height: 44px;
        font-size: 0;
        overflow: hidden;
        text-indent: -999px;
        background: url(../images/logout.svg) 50% 50% no-repeat;
        &:hover,
        &:focus {
            background-image: url(../images/logout-hover.svg);
            }
        }

    &__icon {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin: 0 10px 0 0;
        }

    &__link {
        display: block;
        line-height: 36px;
        height: 36px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 20px;
        color: $grey-dark;
        text-decoration: none;
        &_current {
            background-color: $black;
            color: $white;
            pointer-events: none;
            }
        &:hover,
        &:focus {
            background-color: $black;
            color: $white;
            }
        }
    }

@media (max-width: 1000px) {
    html body {
        .navigation {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            float: none;
            margin: auto;
            min-height: 80px;
            width: auto;
            z-index: 5;
            padding: 0;
            &:after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 5;
                background: $black-light;
                }
            &_open {
                .navigation__toggle {
                    transform: rotate(180deg);
                    }
                }
            &__logout {
                position: relative;
                top: auto;
                right: auto;
                display: inline-block;
                vertical-align: middle;
                }
            &__logotype {
                width: 40px;
                height: 40px;
                position: absolute;
                top: 20px;
                left: 20px;
                right: auto;
                margin: auto;
                background-size: contain;
                z-index: 6;
                }
            &__toggle {
                @mixin clear_button;
                cursor: pointer;
                position: absolute;
                display: block;
                top: 20px;
                right: 20px;
                width: 40px;
                height: 40px;
                background: url(../images/menu.svg) 50% 50% no-repeat;
                background-size: 30px auto;
                z-index: 6;

                transition: transform .25s;
                }
            &__wrapper {
                position: absolute;
                bottom: 100%;
                left: 0;
                right: 0;
                background: $black-light;
                z-index: 0;
                }
            }
        }
    }
