@import "../../helpers/*";

.text {
    padding: 0 20px;
    color: $grey-blue;
    font-size: 14px;
    line-height: 18px;
    h1, h2 {
        font-size: 32px;
        line-height: 36px;
        margin: 36px 0 18px;
        max-width: 600px;
        font-weight: bold;
        }
    h3, h4, h5 {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 18px;
        margin: 18px 0 0;
        max-width: 600px;
        font-weight: bold;
        }
    ul {
        list-style: disc;
        margin: 18px 0 18px 36px;
        max-width: 564px;
        }
    ol {
        list-style: decimal;
        margin: 18px 0 18px 36px;
        max-width: 564px;
        }
    p {
        margin: 18px 0;
        max-width: 600px;
        }
    strong, b {
        font-weight: bold;
        }
    i, em {
        font-style: italic;
        }
    a {
        color: inherit;
        &:hover {
            text-decoration: none;
            }
        }
    blockquote {
        max-width: 564px;
        border-radius: 4px;
        margin: 18px 0;
        padding: 18px;
        font-size: 14px;
        line-height: 18px;
        background: color($grey-blue a(10%));
        }
    img {
        margin: 18px 0;
        display: block;
        max-width: 600px;
        max-height: 100vh;
        }
    table{
        width: 100%;
        border-bottom: 1px solid color($table-border-color a(40%));
        font-size: 12px;
        margin: 18px 0;
        thead {
            th {
                line-height: 18px;
                font-size: 16px;
                color: $purple;
                padding: 20px 10px;
                white-space: nowrap;
                &:last-child {
                    padding-right: 20px;
                    }
                &:first-child {
                    text-align: left;
                    padding-left: 20px;
                    }
                }
            }
        tbody {
            td {
                padding: 8px 10px;
                line-height: 32px;
                border-top: 1px solid color($table-border-color a(40%));
                &:last-child {
                    padding-right: 20px;
                    }
                &:first-child {
                    padding-left: 20px;
                    }
                }
            }
        }
    }


@media (max-width: 640px) {
    html body {
        .text {
            img {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 800px) {
    html body {
        .text table{
            border-style: none;
            thead {
                display: none;
                }
            tbody {
                tr {
                    display: block;
                    padding: 20px 20px 0;
                    margin: 20px 0;
                    border-top: 1px solid color($table-border-color a(40%));
                    &:first-child {
                        padding-top: 0;
                        border-style: none;
                        }
                    }
                td:first-child,
                td {
                    padding: 0 0 0 100px;
                    margin: 0 0 5px;
                    min-height: 20px;
                    line-height: 20px;
                    border-style: none;
                    display: block;
                    position: relative;
                    white-space: normal;
                    width: auto;
                    &[data-th]:before {
                        content: attr(data-th)": ";
                        font-weight: bold;
                        width: 100px;
                        position: absolute;
                        white-space: nowrap;
                        top: 0;
                        left: 0;
                        }
                    }
                }
            }
        }
    }
