.text

    h2 Title of text block

    h3 Subtitle of text block

    p Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals. Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals.

    p This is for US residents only. It is a 
        a(href="#") number assigned 
        | to you for tax reporting. Only needed for withdrawals. Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals.

    ul
        li one
        li two
        li 
            strong Any official ID 
            | issued by your country, such as a Passport or Drivers License. Only needed for withdrawals. Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals.
        li four

    h3 Subtitle of text block

    p Any official ID issued by your 
        b country
        | , such as a 
        i Passport 
        | or Drivers License. Only needed for withdrawals. Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals.

    p Any official ID issued by 
        strong your country
        | , such as a Passport or Drivers License. Only needed for withdrawals. Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals.

    ol
        li one
        li two
        li three
        li four

    blockquote Any official ID issued by your country, such as a Passport or Drivers License. Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals. Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals.

    p Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals. Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals.

    table
        thead
            tr
                th Title 1
                th Title 2
                th Title 3
        tbody
            tr
                td Value 1
                td Value 1
                td Value 1
            tr
                td Value 1
                td Value 1
                td Value 1
            tr
                td Value 1
                td Value 1
                td Value 1
            tr
                td Value 1
                td Value 1
                td Value 1
            tr
                td Value 1
                td Value 1
                td Value 1

    p Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals. Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals.

    p Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals. Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals.

    img(src="images/illustration.jpg", alt="illustration")

    p Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals. Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals.

    p Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals. Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals.
