section.games
    - var i = 20
    while i--
        aticle.games__game
            strong.games__team NAVi 
            | vs 
            strong.games__team ESL
            time.games__time(datetime="2015-10-11T13:09Z") 1:09pm
