@import "../../helpers/*";

.button {
    @mixin clear_button;
    background-color: $purple;
    line-height: 32px;
    height: 32px;
    border-radius: 4px;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color .25s;
    text-transform: uppercase;
    &:focus,
    &:hover {
        background-color: color($purple l(-10%));
        }
    &:active {
        background-color: color($purple l(-20%));
        }
    }
