@import "../../helpers/*";

.button {
    @mixin clear_button;
    background-color: $purple;
    line-height: 32px;
    height: 32px;
    border-radius: 4px;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color .25s;
    text-transform: uppercase;
    box-sizing: border-box;
    &_large {
        line-height: 50px;
        height: 50px;
        font-size: 14px;
        padding: 0 50px;
        }
    &:focus,
    &:hover {
        background-color: color($purple l(-10%));
        }
    &:active {
        background-color: color($purple l(-20%));
        }
    }
