@import "../../helpers/*";

.account {
    width: 480px;
    margin: 0 0 20px;
    padding: 0 20px;
    float: left;
    @mixin clear;
    box-sizing: border-box;
    &__fieldset {
        width: 200px;
        margin: 0 20px 20px 0;
        float: left;
        position: relative;
        }
    &__label {
        display: block;
        font-size: 16px;
        line-height: 18px;
        margin: 0 0 10px;
        }
    &__input {
        @mixin input;
        width: 100%;
        }
    }

@media ( max-width: 460px ) {
    html body {
        .account {
            width: 100%;
            &__fieldset {
                width: auto;
                float: none;
                margin: 0 0 20px;
            }
        }
    }
}
