@import "../../helpers/*";

.account {
    width: 440px;
    margin: 0 20px 20px;
    float: left;
    @mixin clear;
    &__fieldset {
        width: 200px;
        margin: 0 20px 20px 0;
        float: left;
        position: relative;
        }
    &__label {
        display: block;
        font-size: 16px;
        line-height: 18px;
        margin: 0 0 10px;
        }
    &__input {
        @mixin input;
        width: 100%;
        }
    }
