section.hints
    h2.hints__title Some hints about profile

    p.hints__text Just edit the password field and hit save

    h3.hints__subtitle What is a Government ID?
    p.hints__text Any official ID issued by your country, such as a Passport or Drivers License. Only needed for withdrawals.

    h3.hints__subtitle What is a Social Security Number?
    p.hints__text This is for US residents only. It is a number assigned to you for tax reporting. Only needed for withdrawals.

    h3.hints__subtitle Do I need to input and verify all this information?
    p.hints__text This information is used to protect your account in case you need to withdraw funds, and for tax reporting (US-only).

    h3.hints__subtitle I didn't get a verification text on my phone
    p.hints__text Your number must be entered in international format, such as 
