footer.footer
    nav.footer__navigation(role="navigation")
        a.footer__link(href="about.html", role="link") About
        a.footer__link(href="blog.html", role="link") Blog
        a.footer__link(href="rules.html", role="link") Rules
        a.footer__link(href="legal.html", role="link") Legal
        a.footer__link(href="faq.html", role="link") FAQ
        a.footer__link(href="help.html", role="link") Help
    p.footer__copyright © EFN LLC 2015
